.boton-contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1;
    height: 83px;
    font-weight: bold;
    font-size: 38px;
    background-color: #1b1b32;
    border-radius: 25px;
    border: 2px solid #fff;
    color: #fff;
    margin: 4px;
    cursor: pointer;
    user-select: none;
}

.boton-contenedor:hover{
    background-color: #404061;
}

.operador{
    background-color: rgb(20, 61, 45);
}

.operador:hover{
    background-color: rgb(36, 116, 85);
}